button {
    width: 250px;
    height: 80px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: brown;
}

.boton-click {
    background-color: burlywood;
}

.boton-reiniciar {
    background-color: darkolivegreen;
}